@model IEnumerable<MVC_HW3.Models.tMealList>

    @*動態生成CHECKBOX篩選飯麵*@
        @*@Html.ActionLink("總覽","Index","FoodHome",new { id = 0}, new { @class = "list-group-item", style ="width:80px" })
        <br/>*@

    <div>
    @foreach (var a in Model)
    {
        <input type="checkbox" id="@a.fML_Projrct+@a.fML_ID" value="@a.fML_ID" name="chkfoodclass" class="checkbox-inline" style="width:20px;height:20px" />
        <label for="@a.fML_Projrct+@a.fML_ID" style="width:30px;height:30px;font-size:10px" class="label label-primary">@a.fML_Projrct</label>
    }
    </div>








@*<a href="" class="list-group"></a>*@
@*expression = "@a.fML_ID"*@