@model IEnumerable<MVC_HW3.Models.tTravelDetail>
@{
    ViewBag.Title = "Index";
}

@section styles{

   <style>
       #DetailImg{
           width:550px;
           height:500px;
           display:none;
       }

       #map {
           clear: both;
       }

       #imgs {
           width: 250px;
           height: 250px;
       }


       .grid {
           position: relative;
           clear: right;
           margin: 0 auto;
           max-width: 1000px;
           list-style: none;
           text-align: center;
       }

           /* Common style */
           .grid figure {
               position: relative;
               float: left;
               overflow: hidden;
               margin: 10px 1%;
               min-width: 200px;
               max-width: 220px;
               max-height: 210px;
               width: 48%;
               height: auto;
               background: #3085a3;
               text-align: center;
               cursor: pointer;
           }

               .grid figure img {
                   position: relative;
                   display: block;
                   min-height: 100%;
                   max-width: 100%;
                   opacity: 0.8;
               }

               .grid figure figcaption {
                   padding: 2em;
                   color: #fff;
                   text-transform: uppercase;
                   font-size: 1.25em;
                   -webkit-backface-visibility: hidden;
                   backface-visibility: hidden;
               }

                   .grid figure figcaption::before,
                   .grid figure figcaption::after {
                       pointer-events: none;
                   }

               .grid figure figcaption {
                   position: absolute;
                   top: 0;
                   left: 0;
                   width: 100%;
                   height: 100%;
               }

               /* Anchor will cover the whole item by default */
               /* For some effects it will show as a button */


               .grid figure p {
                   margin: 0;
               }

               .grid figure p {
                   letter-spacing: 1px;
                   font-size: 81.5%;
                   font-weight: bold;
               }

       figure.effect-apollo {
           background: #3498db;
       }

           figure.effect-apollo img {
               opacity: 0.95;
               -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
               transition: opacity 0.35s, transform 0.35s;
               -webkit-transform: scale3d(1.05,1.05,1);
               transform: scale3d(1.05,1.05,1);
           }

           figure.effect-apollo figcaption::before {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background: rgba(255,255,255,0.5);
               content: '';
               -webkit-transition: -webkit-transform 0.6s;
               transition: transform 0.6s;
               -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
               transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
           }

           figure.effect-apollo p {
               position: absolute;
               right: 0;
               bottom: 0;
               margin: 12px;
               padding: 0 8px;
               max-width: 150px;
               border-right: 4px solid #fff;
               text-align: right;
               opacity: 0;
               -webkit-transition: opacity 0.35s;
               transition: opacity 0.35s;
           }


           figure.effect-apollo:hover img {
               opacity: 0.6;
               -webkit-transform: scale3d(1,1,1);
               transform: scale3d(1,1,1);
           }

           figure.effect-apollo:hover figcaption::before {
               -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
               transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
           }

           figure.effect-apollo:hover p {
               opacity: 1;
               -webkit-transition-delay: 0.1s;
               transition-delay: 0.1s;
           }


       /* 隱藏式邊攔的樣式 */
       .cbp-spmenu {
           background-color: transparent;
           position: fixed;
       }

       .cbp-spmenu-vertical {
           width: 740px;
           height: 100%;
           top: 0;
           z-index: 1000;
       }

           .cbp-spmenu-vertical a {
               border-bottom: 1px solid #258ecd;
               padding: 1em;
           }

       /* 隱藏式邊攔向右移動 */

       .cbp-spmenu-right {
           right: -750px;
       }

           .cbp-spmenu-right.cbp-spmenu-open {
               right: 0px;
           }

       .cbp-spmenu-push {
           overflow-x: hidden;
           position: relative;
           left: 0;
       }

       .cbp-spmenu-push-toleft {
           left: -750px;
       }

       .cbp-spmenu,
       .cbp-spmenu-push {
           -webkit-transition: all 0.3s ease;
           -moz-transition: all 0.3s ease;
           transition: all 0.3s ease;
       }
</style>

}


<div style="text-align:center">
    @*食衣住行*@
    @Html.Action("TravelClass")
    <button class="btn btn-primary" data-toggle="modal" data-target="#CreateDetial"><span class="glyphicon glyphicon-plane"></span>~我要推薦~</button>
</div>

@*推薦列表*@

@foreach (var _Traveldetail in Model)
{
    <div class="grid">
        <figure class="effect-apollo">
            <img id="imgs" src="@Url.Action("GetImageByte", "Travel", new { id = _Traveldetail.fTD_ID })" />
            <figcaption>
                <p>@Html.DisplayFor(t => _Traveldetail.fTD_Title, new { id = "titleID" })</p>
                @Html.HiddenFor(t => _Traveldetail.fTD_Title, new { id = "title" })
                @Html.HiddenFor(t => _Traveldetail.fTD_Content, new { id = "ContentID" })
                @Html.HiddenFor(t => _Traveldetail.fTD_site, new { id = "latlng" })
            </figcaption>
        </figure>
    </div>
}


@*詳細資訊*@
<div class="thumbnail col-lg-6" style="background-color:transparent;border:none;">
    <img id="DetailImg" src="" />
    <div class="caption">
        <div class="row">
            <h2 style="color:brown;font-weight:bold" class="col-lg-10"></h2>
            @*叫出隱藏式邊框的按鈕*@
            <img src="~/Images/map.png" id="showRightPush" style="width:80px;display:none;" class="col-lg-2" />
        </div>
        <div>
            <p style="color:darkred;font-size:18px"></p>
        </div>

    </div>
</div>

@*地圖放入隱藏式邊攔*@
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <div id="map" class="col-lg-6" style="width:700px;height:700px"></div>
</nav>



@section scripts{
    
    <script src="~/Scripts/classie.js"></script>
    <script>

        //隱藏式邊欄
        var menuRight = document.getElementById('cbp-spmenu-s2'),
            showRightPush = document.getElementById('showRightPush'),
            body = document.body;

        showRightPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toleft');
            classie.toggle(menuRight, 'cbp-spmenu-open');
            disableOther('showRightPush');
        };

        function disableOther(button) {
            if (button !== 'showRightPush') {
                classie.toggle(showRightPush, 'disabled');
            }
        }


        //詳細資料欄
        $(document).ready(
            function () {
                var thumb = $('.thumbnail');
                $("body").on("click", ".grid>figure", function () {

                    var ImageName = $(this).find('#title').val();
                    var TravelImage = $(this).find("#imgs").attr("src");
                    var Content = $(this).find('#ContentID').val();
                    var site = $(this).find('#latlng').val();


                    var siteStr = site.split(',', 2);
                    initMap(siteStr);
                    
                    thumb.find("img").attr('style','display:block')
                    thumb.find("#DetailImg").attr('src', TravelImage);
                    thumb.find("h2").text(ImageName);
                    thumb.find("p").text(Content);
                })
            });


        //地圖
        var marker;

        function initMap(a) {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: { lat: parseFloat(a[0]), lng: parseFloat(a[1]) }
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: { lat: parseFloat(a[0]), lng: parseFloat(a[1]) }
            });
            marker.addListener('click', toggleBounce);
        }

        function toggleBounce() {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
    </script>

    @*地圖鑰匙*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNJSp7w_HE3PDukIKQW5JENPHYdi5AJDw&callback=initMap"
            async defer></script>
}

@*彈跳視窗(我要推薦)*@
<div class="modal fade" id="CreateDetial" tabindex="-1" role="dialog" aria-labelledby="CreateDetialLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Action("CreateDetail", "Travel")"
        </div>
    </div>
</div>

