@model MVC_HW3.ViewModel.ForumModel
@{
    ViewBag.Title = "  EditDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditDetail</h2>

@section styles{
}

<div class="col-lg-pull-12">
    <div class="col-lg-4">
        <nav>
            <ul class="nav nav-justified">
                @foreach (var classes in Model.Fclass)
                {
                    <li>@Html.ActionLink(classes.fFC_Class, "Index", "ForumMyself", new { id = classes.fFC_ID }, new { @class = "list-group-item" })</li>
                }
            </ul>
        </nav>
    </div>
</div>




<div class="col-lg-pull-12">
    <div class="col-lg-10">
        <div class="panel panel-primary">
            @foreach (var title in Model.Ftitle)
            {
                <h2>@Html.DisplayFor(p => title.fFT_Title)</h2>
                    @Html.HiddenFor(p => title.fEp_ID)
            }
        </div>
    </div>


    <div class="panel panel-primary">
        @foreach (var message in Model.Fmessage.Where(p => p.fFM_Dad == null))
        {
            <div class="col-lg-10">
                <div class="panel panel-primary">
                    @Html.DisplayFor(p => message.tEmployee.fEp_Nickname)
                    <img src="@Url.Action("GetImageByte","ForumHome",new {id = message.fEp_ID})" class="" />
                    <div class="panel panel-primary">
                        @Html.Raw(message.fFM_Content)
                    </div>
                    <p>
                        @Html.DisplayFor(p => message.fFM_Date)
                    </p>
                </div>
            </div>

            <div class="col-lg-10">
                <div class="panel panel-primary">
                    <button class="btn btn-primary" id="twitter" title="在下方留言">留言</button>
                    <button class="btn btn-primary" id="message" title="在下方推文">推文</button>
                    <button class="btn btn-danger" id="edit" style="display:none;" value="message.fEp_ID" title="修改這篇推文">修文</button>
                    @Html.HiddenFor(p => message.fFM_ID)
                    @Html.HiddenFor(p => message.fMC_ID)
                    @Html.HiddenFor(p => message.fEp_ID)

                    <div id="load" hidden="hidden">
                        @Html.Action("partial_twitter", "ForumHome", new { id = message.fFM_ID })
                    </div>
                </div>
            </div>

            <div class="col-lg-10">
                <div class="panel panel-primary">
                    @foreach (var twitter in Model.Fmessage.Where(q => q.fFM_Dad == message.fFM_ID))
                    {
                        <p>@Html.DisplayFor(q => twitter.tEmployee.fEp_Nickname) : @Html.DisplayFor(q => twitter.fFM_Content)  @Html.DisplayFor(q => twitter.fFM_Date) </p>
                    }
                </div>
            </div>

           
        }
    </div>
</div>




@section scripts{
    <script>
        $(document).ready(function () {



            var t = $('#title_fEp_ID').val();
            var m = $('#message_fEp_ID').val();
            if (t == m )
            {
                $('#btn-danger').show();
            }



            //$('.btn-danger').show();





            $(document).on('click', "#twitter", function () {

                $(this).parent().find('#load').slideToggle();

                var FMid = $('#message_fFM_ID').val();
                $("#load").load('@Url.Action("partial_twitter", "ForumHome")' + '/' + FMid);
            });

            $(document).on('click', "#message", function () {

                var id = $('#message_fMC_ID').val();
                location.href = ('@Url.Action("Message", "ForumHome")' + '/' + id);
            });

            $(document).on('click', "#edit", function () {

                var FMid = $(this).parent().find('#message_fFM_ID').val();
                location.href = ('@Url.Action("EditMessage", "ForumMyself")' + '/' + FMid);
            });

        });

    </script>
}
