@model MVC_HW3.ViewModel.ForumModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Items = ViewBag.Items as List<GroupedSelectListItem>;
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "ForumHome", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Fclass.First().fFC_Class, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-8">
            @Html.DropDownGroupListFor(p => p.Ftitle.FirstOrDefault().fFC_ID, Items, "請選擇文章類別", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Ftitle.First().fFT_Title, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-8">
            @Html.EditorFor(p => p.Ftitle.FirstOrDefault().fFT_Title, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入標題" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Fmessage.First().fFM_Content, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-8">
            @Html.TextAreaFor(p => p.Fmessage.FirstOrDefault().fFM_Content, new { @id = "input", @name = "input", @class = "form-control", placeholder = "Forum MessageContent" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">發布文章</button>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    </div>
}

@section scripts{ 
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {

            CKEDITOR.replace('input', {
                extraPlugins: '',
                height: 150,
                width:'850px',

                // Upload images to a CKFinder connector (note that the response type is set to JSON).
                //uploadUrl: '@Url.Action("UpLoadToDB")',
                filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                filebrowserImageUploadUrl: '@Url.Action("UpLoadToDB")' + '?command=QuickUpload&type=Images'
            });

            })
    </script>
}