@model MVC_HW3.ViewModel.ForumModel
@{
    ViewBag.Title = "  Detail";
}

<h2>Detail</h2>
@section styles{
    <style>

    </style>
}


<div class="col-lg-pull-12">
    <div class="col-lg-4">
        <nav>
            <ul class="nav nav-justified">
                @foreach (var classes in Model.Fclass)
                {
                    <li>@Html.ActionLink(classes.fFC_Class, "Index", "ForumHome", new { id = classes.fFC_ID }, new { @class = "list-group-item" })</li>
                }
            </ul>
        </nav>
    </div>
</div>


<div class="row">
        <div class="col-lg-8">
            <div class="modal-content">
                @foreach (var title in Model.Ftitle)
            {
                    <h2>@Html.DisplayFor(p => title.fFT_Title)</h2>
                }
            </div>
        </div>

    <div class="col-lg-10">

        @{ int i = 1;}
        @foreach (var message in Model.Fmessage.Where(p => p.fFM_Dad == null))
        {
            <div class="modal-content">

                <div class="modal-header">
                    @Html.DisplayFor(p => message.tEmployee.fEp_Nickname)
                    <img src="@Url.Action("GetImageByte", "ForumHome", new { id = message.fEp_ID })" class="img-thumbnail thumb" />
                </div>

                <div class="modal-body">
                    @Html.Raw(message.fFM_Content)
                </div>

                <div class="modal-footer">
                    <p>發文時間 :  @Html.DisplayFor(p => message.fFM_Date) </p>
                    @Html.HiddenFor(p => message.fFM_ID) @Html.HiddenFor(p => message.fMC_ID) 

                    @if (message.tPushGood.Where(p => p.fEp_ID == ViewBag.EPIP && p.fFM_ID == message.fFM_ID).Any())
                    {
                        @Ajax.ActionLink(" ", "pushGoodall", "ForumHome", new { id = message.fFM_ID }, new AjaxOptions()
                       {
                           HttpMethod = "Post",
                           UpdateTargetId = "pushG" + i,
                           InsertionMode = InsertionMode.Replace
                       }, new { id = "push", @class = "btn btn-primary glyphicon glyphicon-thumbs-up", @style = "display:none" , @title = "點擊點讚"  })

                        @Ajax.ActionLink(" ", "recoveryGood", "ForumHome", new { id = message.fFM_ID }, new AjaxOptions()
                       {
                           HttpMethod = "Post",
                           UpdateTargetId = "pushG" + i,
                           InsertionMode = InsertionMode.Replace
                       }, new { id = "recovery", @class = "btn btn-primary glyphicon glyphicon-minus", @title = "點擊收回讚" })
                    }

                    else
                    {
                        @Ajax.ActionLink(" ", "pushGoodall", "ForumHome", new { id = message.fFM_ID }, new AjaxOptions()
                       {
                           HttpMethod = "Post",
                           UpdateTargetId = "pushG" + i,
                           InsertionMode = InsertionMode.Replace
                       }, new { id = "push", @class = "btn btn-primary glyphicon glyphicon-thumbs-up" , @title = "點擊點讚" })

                        @Ajax.ActionLink(" ", "recoveryGood", "ForumHome", new { id = message.fFM_ID }, new AjaxOptions()
                        {
                            HttpMethod = "Post",
                            UpdateTargetId = "pushG" + i,
                            InsertionMode = InsertionMode.Replace
                        }, new { id = "recovery", @class = "btn btn-primary glyphicon glyphicon-minus", @style = "display:none" , @title="點擊收回讚" })
                    }


                    <span id="pushG@(i)" class="push">@Model.pushGood.Where(a=>a.fFM_ID==message.fFM_ID).Count()</span>

                    <a href = "@Url.Action("Index", "ForumHome")" class="btn btn-default" title="點我回去目錄">
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                    </a>

                    <button class="btn btn-primary" id="twitter" title="在下方留言">留言</button>
                    <button class="btn btn-primary" id="message" title="在下方推文">推文</button>

                    <div id = "load" hidden="hidden" class="col-lg-10">
                        @Html.Action("partial_twitter", "ForumHome", new { id = message.fFM_ID})
                    </div>
                </div>

                <div id = "alltit" class="alltit"></div>

            </div>
            i++;
        }
    </div>


</div>





@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {

            

            $('.alltit').each(function () {
                $(this).empty();
                var FM_id = $(this).parent().find('#message_fFM_ID').val();
                $(this).load('@Url.Action("twitter_showall","ForumHome")' + '/' + FM_id);
            });

            $(document).on('click', '#push', function () {
                $(this).parent().find('#recovery').show();
                $(this).hide();

            });

            $(document).on('click', '#recovery', function () {
                $(this).parent().find('#push').show();
                $(this).hide();
            });


            $(document).on('click', '#showtit1', function () {
                $(this).parent().find('#showtit2').show();
                $(this).hide();
                var FM_id = $(this).parent().parent().parent().find('#message_fFM_ID').val();

                $(this).parent().find('#loadtit').empty();
                $(this).parent().find('#loadtit').load('@Url.Action("twitter_all","ForumHome")' + '/' + FM_id);

            });

            $(document).on('click', '#showtit2', function () {
                $(this).parent().find('#showtit1').show();
                $(this).hide();
                var FM_id = $(this).parent().parent().parent().find('#message_fFM_ID').val();

                $(this).parent().find('#loadtit').empty();
                $(this).parent().find('#loadtit').load('@Url.Action("twitter_short","ForumHome")' + '/' + FM_id);
            });



            $(document).on('click', "#twitter", function () {
                $(this).parent().find('#load').slideToggle();

                var fmid = $('#message_fFM_ID').val();
                $("#load").load('@Url.Action("partial_twitter", "ForumHome")' + '/' + fmid);
            });

            $(document).on('click', "#message", function () {
                var id = $('#message_fMC_ID').val();
                location.href = ('@Url.Action("Message", "ForumHome")' + '/' + id);
            });

        });

    </script>
}
