@model MVC_HW3.ForumModel

<div class="row">
    <div class="col-lg-pull-9">
        <div class="panel panel-primary">
            @foreach (var title in Model.Ftitle)
            {
                <h2>@Html.DisplayFor(p => title.fFT_Title)</h2>
                
            }
        </div>
        <div class="panel panel-primary">
            <br />

            @foreach (var message in Model.Fmessage.Where(p => p.fFM_Dad == null))
            {
                   <p>@Html.DisplayFor(p => message.fEp_ID) : @Html.DisplayFor(p => message.tEmployee.fEp_Nickname)</p>
                  
                   <p>@Html.DisplayFor(p => message.fFM_Content)</p>
                   <p>@Html.DisplayFor(p => message.fFM_Date)</p>
                    <button class="btn btn-primary" title="回覆這篇文章">回覆</button>
                    <button class="btn btn-primary" title="在下方推文">推文</button>
                    <div class="panel panel-primary">
                        @foreach (var twitter in Model.Fmessage.Where(q => q.fFM_Dad == message.fFM_ID))
                        {
                            <p>@Html.DisplayFor(q => twitter.tEmployee.fEp_Nickname) : @Html.DisplayFor(q => twitter.fFM_Content)  @Html.DisplayFor(q => twitter.fFM_Date) </p>
                        }
                    </div>
            }
            <br />
        </div>
    </div>
</div>

