@model MVC_HW3.ViewModel.ForumModel

@{
        ViewBag.Title = "Index";
    }

<h2>Index</h2>
@section styles{
    <style>

    </style>
}




<div class="col-lg-pull-12">
    <div class="col-lg-4">
        <nav>
            <ul class="nav nav-justified">
                @foreach (var classes in Model.Fclass)
                {
                    <li>@Html.ActionLink(classes.fFC_Class, "Index", "ForumHome", new { id = classes.fFC_ID }, new { @class = "list-group-item" })</li>
                }
            </ul>
        </nav>
    </div>
</div>





<div class="row">
    <div class="col-lg-4">
        <div class="list-group">
            <button class="btn btn-primary" id="create">我要發文</button>
            <button class="btn btn-primary" id="searchmyself">發文管理</button>
        </div>
    </div>

    <div class="col-lg-9">
        <table id="TitleTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(p => p.Fclass.First().fFC_Class)</th>
                    <th>@Html.DisplayNameFor(p => p.Ftitle.First().fFT_Title)</th>
                    <th>@Html.DisplayNameFor(p => p.Ftitle.First().fFT_Popul)</th>
                    <th>@Html.DisplayNameFor(p => p.Ftitle.First().fEp_ID)</th>
                    <th>@Html.DisplayNameFor(p => p.Ftitle.First().fFT_Date)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var title in Model.Ftitle)
                {
                    <tr>
                        <td>@Html.DisplayFor(p => title.tForumClass.fFC_Class)</td>
                        <td>
                            @Html.ActionLink(title.fFT_Title, "Detail", "ForumHome", new { id = title.fMC_ID }, null)
                            @Html.HiddenFor(p => title.fMC_ID)
                        </td>
                        <td>@Html.DisplayFor(p => title.fFT_Popul)</td>
                        <td>@Html.DisplayFor(p => title.tEmployee.fEp_Nickname)</td>
                        <td>@Html.DisplayFor(p => title.fFT_Date)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts{
<script>
    $(document).ready(function () {
        var path = location.pathname;
        $('.nav').find('a[href ="' + path + '"]').addClass('active');

        $('#create').click(function () {
            location.href='@Url.Action("Create", "ForumHome")';
        })

        $('#searchmyself').click(function () {
            location.href = '@Url.Action("Index", "ForumMyself")';
        })


        $('#TitleTable>tbody>tr').mouseenter(function () {
            $(this).addClass("active");
        })
        $('#TitleTable>tbody>tr').mouseout(function () {
            $(this).removeClass("active");
        })


        @*$('#TitleTable>tbody>tr').click(function () {
            var id = $(this).find('#title_fMC_ID').val();
            window.location.href=('@Url.Action("Detail", "ForumHome")' + '/' + id);
        })*@
    })
</script>}