<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/trycss.css" rel="stylesheet" />    
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">   
    <link href="~/Content/jquery.cleditor.css" rel="stylesheet" />
    <link href="~/Content/fakeLoader.css" rel="stylesheet" />


    <style>
        body li a {
        font-size:20px;        
        }
        .navbar-inverse .navbar-try1{
            font-size:40px;
        }

    </style>
    
    @RenderSection("styles", false)
</head>
<body class="layout">
    @*@*執行Loading...*@
    @*<div id="fakeLoader"></div>*@


    @* 導覽列 *@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("665園地", "Index", "Home", new { area = "" }, new { @class = "navbar-try1" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="@Url.Action("Bulletin", "Home", new {area="",ID= (int?)null })" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">最新消息 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Bulletin","Home",new{area="",ID=2})">一般公告</a></li>
                            <li><a href="@Url.Action("Bulletin","Home",new { area="",ID = 1 })">旅遊公告</a></li>
                            <li><a href="@Url.Action("Bulletin","Home",new{area="",ID=3})">重要公告</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("FirstPage", "ForumHome", new {area="Forum",ID= (int?)null},null)" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">討論區 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","ForumHome",new{area="Forum", ID=1})">近期旅遊</a></li>
                            <li><a href="@Url.Action("Index","ForumHome",new{area="Forum", ID=2})">歷史回憶</a></li>
                            <li><a href="@Url.Action("Index","ForumHome",new{area="Forum", ID=3})">旅遊推薦</a></li>
                            <li class="manergerU"><a href="@Url.Action("Index","ForumAdmin",new{area="Forum", ID=0})">論壇管理</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">員工旅遊 <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("NewCase","TraveCase",new { area = "EmployeeTrave", ID = (int?)null})">近期旅遊</a></li>
                            <li><a href="@Url.Action("NewCase","TraveCase",new { area = "EmployeeTrave", ID = 1})">過往旅遊</a></li>
                            <li><a href="#">方案投票</a></li>
                            <li class="manergerU"><a href="@Url.Action("ManagePage","TraveCase",new { area = "EmployeeTrave" })">旅遊管理</a></li>

                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index","FoodHome",new { area = "Food" }, null )">美食地圖</a></li>
                    <li><a href="@Url.Action("Index","TravelMapHome",new { area = "TravelMap" }, null )">旅遊指南</a></li>
                    <li><a href="#" id="Connection" log_url="@Url.Action("Connection","Home", new { area = "" })" class="needlog">聯絡我們</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li id="login"><a href="#" class="needlog" log_url="@Request.Url.PathAndQuery">登入</a></li>
                    <li id="logout">@Html.ActionLink("登出", "logout", "Home", new { area = "" }, null)</li>
                    <li id="edit" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">個人資訊<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">旅遊紀錄</a></li>
                            <li><a href="#">發文管理</a></li>
                            <li><a href="@Url.Action("AccountEdit","Home",new { area = "" }, null )">帳戶管理</a></li>
                            <li><a href="#">訊息</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">GO</button>
                </form>
            </div>
        </div>
        <div id="Marquee" class="div-white-bg"><img src="@Url.Content("~/Images/news.jpg")" /><span id="marload"></span></div>
    </div>
    @* 導覽列 End*@
    @*@Url.Content("~/Images/news.jpg")*@
    @* 跑馬燈區塊 *@

    @* 跑馬燈區塊 End *@



    <div class="container body-content div-rgba-bk">
        <br />
        @RenderBody()
        @RenderSection("MAP", false)
        @if (IsSectionDefined("Detail"))
        { @RenderSection("Detail")}
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @* 登入表單Dialog *@
    <div id="dialog-form" title="登錄">

        <form id="dialog-form2">
            <fieldset>
                <label for="EmployeeID">員工編號</label>
                <br />
                <input type="text" name="EmployeeID" id="EmployeeID" value="0000000003" class="text ui-widget-content ui-corner-all form-control">
                <br />
                <br />
                <label for="password">密碼</label>
                <br />
                <input type="password" name="password" id="password" value="3333333333" class="text ui-widget-content ui-corner-all form-control">
                <br />
                <input type="checkbox" name="remember" id="remember" value="yes"> Remember me
                <br />
                <div id="errormessage" class="redfont"></div>
            </fieldset>
        </form>
    </div>
    @* 登入表單Dialog End *@

    @* 福委確認表單Dialog *@
    <div id="dialog-check" title="登錄身分">
        <h3 class="center-h">以何種身分登錄?</h3>
    </div>
    @* 福委確認表單Dialog End *@
    <div id="modalSM" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-sm modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body text-center">
                    <br />
                    <h3 id="modalMessage"></h3>
                    <br />
                    <div id="modalContent"></div>
                    <br />
                    <span id="modalenter" class="btn btn-primary">確定</span>
                    <br />

                    <br /><br />
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery.cleditor.min.js"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script src="~/Scripts/fakeLoader.min.js"></script>

    <script>
        //執行加載動畫(Loading...)
        //$("#fakeLoader").fakeLoader({
        //    timeToHide: 500,
        //    bgColor: "#DEFFFF",
        //    spinner: "spinner7"
        //});
        $(document).ready(function () {


            var dialog, //登錄dialog
                dialogC,  //身分dialog
                name = $("#EmployeeID"),  //登錄dialog中"#EmployeeID"
                password = $("#password"),  //登錄dialog中"#password"
                account = document.cookie.indexOf("account="),  //登錄者帳號是否存在cookie
                identity = document.cookie.indexOf("identity="),  //登錄者帳號是否有福委權限
                log_url,  //需登錄連結,登錄後跳轉網址
                bulletinNo = Math.floor(Math.random() * 5), //開始時得隨機變數i,隨機第一張廣告
                start = setInterval(setclock, 3000),
                Manergers = document.cookie.indexOf("Manergers=")





            $("#modalenter").click(function () {
                $("#modalSM").modal('hide')
            })

            MarqueeShow();
            function setclock() {
                if (bulletinNo < 4) {
                    bulletinNo++
                }
                else {
                    bulletinNo = 0
                }

                MarqueeShow();
            }
            function MarqueeShow() {
                $("#marload").load("@Url.Action("Marquee","Home",new {area=""})?No=" + bulletinNo)
            }

            //清除身分cookie
            identityclear()

            //依登錄狀況顯示"登入","登出"...
            if (account != -1) {
                $("#login").remove();
            }
            else {
                $("#logout,#edit").remove();
            }
            if (Manergers == -1) {
                $(".manergerU").remove();
            }

            //導覽列Drapdown開啟
            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).show();
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).hide();
            });


            //檢查帳密、建立Cookies
            function loginGo() {

                $.post("@Url.Action("trylog", "Home", new { area = "" })", { EmployeeID: name.val(), password: password.val(), remember: $("#remember:checked").val() }).done(function () {
                    loginturn()
                })
            }
            //檢查是否已登錄
            function loginturn() {

                account = document.cookie.indexOf("account=")
                identity = document.cookie.indexOf("identity=")
                if (identity != -1) {
                    dialog.dialog("close");
                    dialogC.dialog("open");
                    return;
                }
                pageturn()
                $("#errormessage").text("帳號或密碼錯誤,請再試一次")

            }
            //跳轉登錄頁
            function pageturn() {


                if (account != -1) {

                    window.location.href = log_url
                    return
                }
            }
            //清除identity
            function identityclear() {
                if (identity != -1) {
                    $.cookie("identity", '', { expires: -1 })
                }
            }

            //身分表單
            dialogC = $("#dialog-check").dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                height: 200,
                width: 300,
                modal: true,

                buttons: {
                    "員工(預設)": function () {
                        dialogC.dialog("close");
                    },
                    "福委(無法紀錄登錄)": function () {
                        identityclear()
                        $.cookie("Manergers", "福委", { path: '/' })
                        pageturn()
                    }
                },
                close: function () {
                    identityclear()
                    pageturn()
                }

            })



            //登錄表單
            dialog = $("#dialog-form").dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                height: 380,
                width: 380,
                modal: true,
                buttons: {
                    "登錄":
                        function () { loginGo(); },
                    "取消": function () {
                        dialog.dialog("close");
                    }
                },
                close: function () {
                    name.val("");
                    password.val("");
                    $("#errormessage").text("")

                }
            });

            //跳轉登錄(class=.needlog && log_url=Url)
            $(".needlog").click(function () {
                log_url = $(this).attr("log_url")
                if (account == -1) {
                    dialog.dialog("open")
                }
                else {
                    window.location.href = log_url
                }
            })
            $(".needlog2").click(function () {
                log_url = $(this).attr("log_url")

                if (account == -1) {
                    dialog.dialog("open")
                }

            })

            //jquery vadiation 驗證
            $.extend(jQuery.validator.messages, {
                required: "此欄位必填.",
                remote: "Please fix this field.",
                email: "請輸入正確的 Email 信箱.",
                url: "請輸入正確的網址.",
                date: "請輸入正確的日期.",
                dateISO: "請輸入正確的 (ISO) 日期格式.",
                number: "本欄位請填入數字.",
                digits: "本欄位請填入數字.",
                creditcard: "請輸入正確的信用卡號.",
                equalTo: "請再次輸入相同的值.",
                maxlength: $.validator.format("至多輸入 {0} 個字."),
                minlength: $.validator.format("至少輸入 {0} 個字."),
                rangelength: $.validator.format("請輸入 {0} 到 {1} 個字."),
                range: $.validator.format("請輸入 {0} 到 {1} 的數字."),
                max: $.validator.format("請輸入小於等於 {0} 的值."),
                min: $.validator.format("請輸入大於等於 {0} 的值.")
            });
        })


    </script>

    @RenderSection("scripts", false)
</body>







</html>