@model MVC_HW3.Models.tTravelCase
@{
    ViewBag.Title = "CaseDetail";
}
<div class="row">
    <h2 class="col-xs-10">@Model.fTC_Title</h2><div class="col-lg-2"><br /><br /><a class="btn btn-primary needlog" log_url="@Url.Action("Sign_up","TraveCase",new {area="EmployeeTrave",id=Model.fTC_ID})"  href="#" >報名行程</a></div>
</div>

<div>
    @Html.Raw(Model.fTC_Content)     
</div>
<table id="ProductTable" class="table table-bordered div-white-bg">   
    <tbody>
        @{int i = 1; }
        @foreach (var A in Model.tDayTravel)
        {
            <tr>
                <td><p>第 @i 天</p><p>@A.fDT_Date.ToShortDateString()</p></td>@{i++;}
                <td>
                   @Html.Raw(A.fDT_Content)
                </td>                           
            </tr>
        }
    </tbody>
</table>




<div>
    @Html.Raw(Model.fTC_Notes)    
</div>

