@model IEnumerable<MVC_HW3.Models.tCityCountry>

@foreach (var _country in Model)
{
<figure>
    <div>
        <span class="face"><a href="@Url.Action("Index", "TravelMapHome", new { CountryId = _country.fCC_ID })" style="font-size:28px;color:darkred">@_country.fCC_Place</a></span>
        <span class="face"><a href="@Url.Action("Index", "TravelMapHome", new { CountryId = _country.fCC_ID })" style="font-size:28px">@_country.fCC_Place</a></span>
    </div>
</figure>
    @*<a href="@Url.Action("Index", "TravelMapHome", new { CountryId = _country.fCC_ID })" class="btn btn-warning">@_country.fCC_Place</a>*@
    @*@Html.ActionLink(_country.fCC_Place, "Index", "TravelMapHome", new { CountryId = _country.fCC_ID });*@
}
