@* 最新消息 *@
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<MVC_HW3.Models.tBulletin>
@{
    ViewBag.Title = "最新消息";
}
@section styles{

}
<h2>@ViewBag.Class</h2>
<hr />
<br />
<br />

@foreach (var New in Model)
{
    <div class="row">

        <div class="col-md-2">
            <a href="@Url.Action("Bulletin","Home",new{ID=New.fBC_ID})" class="marginL50">
                <img src="@Url.Action("GetImageFile","Home",new {fileName=New.tBulletinClass.fBC_Class})" class="w120h80" />
                
            </a>
        </div>
        <a href="@Url.Action("BulletinDetail","Home",new{ID=New.fBu_ID})">
            <div class="col-md-10">
                <div class="news_subject">@New.fBu_Title</div>
                <div class="news_date">@New.fBu_Date</div>
                <div class="news_txt"></div>
                <div class="news_more text-right">繼續閱讀>></div>           
                
            </div>
        </a> 
    </div>
    <hr />





}




<div class="text-center">@Html.PagedListPager(Model, page => Url.Action("Bulletin", "Home", new { page, ID = Request.QueryString["ID"] }), PagedListRenderOptions.ClassicPlusFirstAndLast)</div>

@section scripts{

}


