@* 聯絡我們 *@
@model MVC_HW3.Models.tConnection
 
@{
    ViewBag.Title = "聯絡我們";
}
@section styles{
    <style>
        #cnote{
            padding-left:30px;
        }
        textarea{
            min-height:170px;
        }
    </style>
}
<h2>聯絡我們</h2>
<hr />

<div class="row">
    <div class="col-md-5">
@using (Html.BeginForm("Connection", "Home", FormMethod.Post, new { @class = "form-horizontal marginL50", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(p => p.fCC_ID, new { @class = "control-label" })
        <div>
            @{
                var categories = new SelectList(ViewBag.datas, "fCC_ID", "fCC_Class");
            }
            @Html.DropDownListFor(p => p.fCC_ID, categories, "請選擇", new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.fCC_ID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.fCo_Theme, new { @class = "control-label" })
        <div>
            @Html.EditorFor(p => p.fCo_Theme, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(p => p.fCo_Theme, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.fCo_Content, new { @class = "control-label" })
        <div>
            @Html.EditorFor(p => p.fCo_Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(p => p.fCo_Content, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.fCo_Image, new { @class = "control-label" })
        <div>
            <input type="file" name="Image" class="form-control" />
            @*@Html.EditorFor(p => p.fCo_Image, new { htmlAttributes = new { type = "file", @class = "form-control" } })*@
            @Html.ValidationMessageFor(p => p.fCo_Image, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-default">送出</button><button id="Creset" class="btn btn-default">清除</button>
        </div>
    </div>
                }
    <h4 class="text-primary">@ViewBag.message</h4>
               

    </div>
    <div class="col-md-7">
        <div id="cnote">
            <h3>聯絡我們</h3>
            <br />
            <p>叡揚資訊股份有限公司(Galaxy Software Services Corporation)</p>
            <br /><br />
            <p>台北總公司 交通方式及地圖位置</p>
            <p>地址：台北市10461中山區德惠街9號5樓</p>
            <p>代表號︰886-2-2586-7890　傳真：886-2-2586-8787</p>
            <br /><br />
            <p>高雄辦公室 交通方式及地圖位置</p>
            <p>地址︰高雄市明華路317號6樓 (環球企業大樓)</p>
            <p>代表號︰886-7-5866195 / 886-7-5866202</p>
        </div>
       

    </div>

</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#Creset").click(function (event) {
                event.preventDefault();
                $("#fCC_ID,#fCo_Theme,#fCo_Content").val("");
            }).css("margin-left","10px")

                
           
            
        
        })
    </script>
   
}
