@* 首頁 *@
@{
    ViewBag.Title = "MSIT11305";
}
@section styles{
    <style>
        .carousel-caption h2 {
        text-shadow: 0.1em 0.1em 0.15em #333; 
        }
        .carousel-caption p {
        font-size:22px;
          text-shadow: 0.1em 0.1em 0.15em #333; 
        }
        .marquee {
        font-size:15px;
        }
        .homebulletin {
        font-size:17px;
        }
        .panel-heading > a {
        font-size:20px;
        
        }

    </style>
}

<hr />
<div>    
  @Html.Action("Home_Case","TraveCase", new { area = "EmployeeTrave" })
</div>
<hr />
<div class="row">

    <div class="col-md-7">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="@Url.Action("Bulletin","Home",new {area="" })" class="panel-title"><span class="glyphicon glyphicon-bullhorn"></span> What's New</a>
            </div>
            <div class="panel-body">
                @Html.Action("Home_Bulletin", "Home",new { area=""})
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="@Url.Action("Index","Albums",new {area="Albums" })" class="panel-title"><span class="glyphicon glyphicon-heart-empty"></span> Memories</a>
            </div>
            <div class="padtry">
                <div class="panel-body">
                    @Html.Action("Home_Photo", "Albums", new { area = "Albums" })
                </div>
            </div>
          
        </div>
    </div>



</div>



        @section scripts{
       
        }


