@model IEnumerable<MVC_HW3.Models.tCityCountry>
@{
    ViewBag.Title = "Index";
}

@section styles{
<link href="~/Content/hexagons.css" rel="stylesheet" />
<style>
      
/*==================國家樣式==================*/  
    .buttonss {
        display:table;
  height: 170px;
  width:170px;
}

.container1 {
    display:table-cell;
  padding: 1em;
}
.btn-1 {
  color: brown;
  cursor: pointer;
  display: block;
  font-size: 24px;
  font-family:DFKai-sb;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
.btn-1:hover {
  text-decoration: none;
  color:brown;
  font-weight:900;
}      

.btn-1 {
  background-color:transparent;
  font-weight: 100;
}
.btn-1 svg {
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke:brown;
  stroke-width: 5;
  stroke-dasharray: 422, 0;
}

.btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
    </style>
    }

@*選擇國家*@

<div>
    <div style="text-align:right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#CreateCity"><span class="glyphicon glyphicon-plane"></span>~新增地點~</button>
        <a href="@Url.Action("ShowAll", "TravelMapHome")" class="btn btn-warning"><span class="glyphicon glyphicon-plane"></span>~地點管理~</a>
        <input id="selectCity" type="text" style="width:150px;height:35px" placeholder="請輸入想找尋的地點..." />
    </div>
    @Html.Action("country")
</div>


@*選擇城市*@


<ul id="hexGrid">
    @foreach (var city in Model)
    {
        <li class="hex">
            <a class="hexIn" href="@Url.Action("Index", "Travel", new { cityID = city.fCC_ID })">
                <img id="CTimg" src="@Url.Action("GetImageByte", "TravelMapHome", new { id = city.fCC_ID })" />
                
                <h3 id="CTh3" style="color:brown;font-family:DFKai-sb;">@city.fCC_Place</h3>
          
                <span id="CTspan" class="glyphicon glyphicon-plane" style="color:brown">前往推薦區</span>
            </a>
        </li>
    }
</ul>

@*彈跳視窗(新增地點)*@
<div class="modal fade" id="CreateCity" tabindex="-1" role="dialog" aria-labelledby="CreateDetialLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Action("CreateCity", "TravelMapHome")"
        </div>
    </div>
</div>

@section scripts{
<script>
    //搜尋地點

    $('#selectCity').bind("enterKey", function (e) {
        var _searchCT = $(this).val()
        if ($(this).val() != "")
        {
            $("#hexGrid").load("@Url.Action("Index", "TravelMapHome", new{area="TravelMap"})searchCity=" + _searchCT)
            $(this).val("")
        }
    });

    $('#selectCity').keyup(function (e) {
        if (e.keyCode == 13) {
            $(this).trigger("enterKey");
        }
    });
</script>
    }

