@model MVC_HW3.Models.tBulletin

@{
    ViewBag.Title = "Delete";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>刪除視窗</h2>

<h3>請問您確定刪除此公告嗎?</h3>
<div>
    <h4>公告內容</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fBu_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fBu_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fBu_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fBu_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fBu_Content)
        </dt>

        <dd>
            @Html.Raw(Model.fBu_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tBulletinClass.fBC_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tBulletinClass.fBC_Class)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-default" /> |
            @Html.ActionLink("回公告欄", "Bulletin")
        </div>
    }
</div>


